* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background: linear-gradient(to bottom, #bcd1e6, #185cb5);
    color: #1e293b;
}

header { 
    background: linear-gradient(135deg, #1e3a8a, #2563eb); 
    color: white; padding: 10px 0; 
    text-align: center; 
    padding: 30px 20px; 
} 

header h1 { 
    margin-bottom: 10px; 
} 

header ul { 
    list-style: none; 
    display: flex; 
    text-align: center; 
    margin-right: 20px; 
    justify-content: center; 
    padding-top: 10px; 
} 

header ul li { 
    margin: 0 15px; 
} 

header ul li a { 
    color: white; 
    text-decoration: none; 
    font-weight: 500; 
    transition: color 0.3s; 
} 

header ul li a:hover { 
    color: #12114F; 
}

#about-me,
#projects,
#contact {
    margin: 60px auto;
    padding: 40px;
}

.about-me {
    display: flex;
    align-items: center;
    gap: 40px;
}

.about-me h2 {
    font-size: 2rem;
    color: #1e293b;
    text-align: center;
}

.about-me p {
    font-size: 1.1rem;
    line-height: 1.8;
    color: #334155;
}

.about-me img {
    width: 200px;
    border-radius: 50%;
    border: 4px solid #2563eb;
}

section {
    max-width: 1100px;
    margin: 60px auto;
    padding: 40px;
    background-color: #ffffff;
    border-radius: 12px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.05);
}

section h2 {
    font-size: 2rem;
    margin-bottom: 20px;
    color: #1e293b;
}

table {
    width: 100%;
    border-collapse: 1px solid #cbd5e1;
    margin-top: 20px;
}

thead {
    background-color: #2563eb;
    color: white;
}

th, td {
    padding: 15px;
    text-align: left;
}


tbody tr:hover {
    background-color: #e0e7ff;
}

form {
    margin-top: 20px;
}

label {
    font-weight: 500;
}

input, textarea {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border-radius: 6px;
    border: 1px solid #cbd5f5;
}

textarea {
    min-height: 120px;
    resize: vertical;
}

fieldset {
    border: 1px solid #cbd5f5;
    border-radius: 8px;
    padding: 15px;
}

legend {
    font-weight: 600;
    color: #1e3a8a;
}

button {
    background-color: #2563eb;
    color: white;
    border: none;
    padding: 12px 25px;
    border-radius: 8px;
    cursor: pointer;
    font-size: 1rem;
}

button:hover {
    background-color: #1e40af;
}

footer {
    text-align: center;
    padding: 20px;
    background-color: #090979;
    color: #e5e7eb;
    margin-top: 60px;
    border-top: 1px solid #475569;
}

/* It took me 1 hour and 20 minutes to finish this task

None so far, my favorite style that I have added on this page is the form part due to having many fields to customize using tag selector.*/